.card {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: lightblue;
    padding: 30px;
}

.card-img img {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    object-fit: cover;
}

.card-name {
    font-size: 30px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-info {
    font-size: 20px;
    margin-top: 20px;
}